# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.env.*
.venv/
venv/
# Django
db.sqlite3
staticfiles/
media/
# IDE
.vscode/
.idea/
# Byte-compiled
*.pyo
*.pyd
*.so
# Coverage
htmlcov/
.coverage
dist/
build/
